/* css styles */

/* Change the background color of the navbar */
.navbar {
    background-color: #08392b;
    /* Replace with your desired color */
}

/* Change the text color of the navbar links */
.navbar a {
    color: #ffffff;
    /* Replace with your desired color */
}

/* Change the text color of the navbar links on hover */
.navbar a:hover {
    color: #cccccc;
    /* Replace with your desired color */
}

.navbar .dropdown-menu>li>a {
    background-color: #08392b;
    /* Change this to your desired text color */
}

.navbar .dropdown-menu>li>a:hover,
.navbar .dropdown-menu>li>a:focus {
    background-color: #08392b;
    /* Change this to your desired highlight color */
    color: #cccccc;
    /* Change this to your desired text color */
}